@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'VT323', monospace;
	font-size: 21px;
	color: #fff;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	user-select: none;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999; 
}

main{
	background-color: #000;
	min-width: 100vw;
	min-height: 100vh;
}
input{
	background-color: transparent;
	padding: 0 5px;
	caret-color: #fff;
}
input[name='userMsg']{
	width: 100%;
	background-color: rgba(255, 255, 255, .02)
}
input[type='submit']{display: none;}
.area-chat{padding: 10px;}
.campusSeparado{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(39	,213,	7, .15);
	z-index: 10;
}
.main{
	padding: 5px;
	background-color: #101010;
}
.campusText{
	display: flex;
	justify-content: center;
	margin: 5px 0;
	max-height: 250px;
	overflow-y: auto;
}
.button{
	display: flex;
	width: 100%;
	margin: 5px 0;
}
button{
	width: 100%;
	padding: 3px 0;
	background-color: #252627;
	cursor: pointer;
}
button:hover{background-color: #1d1e1f;}
button:active{background-color: #171818;}
.mainGrupo-sala{display: flex;}
.mainGrupo-sala>button{
	margin: 10px 15px;
	border-radius: 10px;
}
.mainGrupo-entrar-sala>input{margin: 5px 0;}
.mainGrupo-entrar-sala>button{margin: 5px 0;}
.mainGrupo-criar-sala{min-width: 200px;}

.mainGrupo-criar-sala>.fechar{
	display: flex;
	justify-content: flex-end;
}
.mainGrupo-criar-sala>.fechar>span{
	color:#f00;
	font-size: 26px;
	padding: 0 5px;
	cursor: pointer;
}
.mainGrupo-criar-sala>.code{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
.mainGrupo-criar-sala>.code>span{font-size: 32px;}
.mainGrupo-criar-sala>.code>#img{
	width: 26px;
	height: 26px;
	margin-left: 10px;
	background-image: url("https://cdn-icons-png.flaticon.com/512/82/82146.png");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert() ;
	transform: rotateY(180deg);
	cursor: pointer;
}
.aviso{
	position: relative;
	margin-top: 15px;
	background-color: #000;
}
.aviso span{
	display: inline-block;
	margin: 10px 35px;
	text-align: center;
	font-size: 24px;
}
.aviso::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 0;
	background-color: #fff;
	animation: risco 0.9s linear;
}
@keyframes risco{
	to{
		width: 0;
	}from{
		width: 100%;
	}
}
.codSala{
	position: absolute;
	left: 0;
	bottom:0;
	cursor: pointer;
}
.lista-sala{
	list-style: none;
	margin: 0 5px;
}
.lista-sala > li{
	padding: 5px 10px;
	margin: 8px 0;
	background-color: rgba(255, 255, 255, .1);
	cursor: pointer;
}

.disable{	display: none;}
